@import url('https://fonts.googleapis.com/css2?family=Roboto;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.low-contrast {
    color: #a19f9f;
    font-size: 18px;
}

strong, .high-contrast {
    color: #F9FAF8;
}

.header,.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 150px;
}

.footer {
    text-align: center;
    padding: 20px 0;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 20px;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #8e9094;
}

.header li a {
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.hero-section {
    background-color: #1F2937;
    display: flex;
    gap: 30px;
    padding: 100px 150px;
}

.hero-section button {
    border: 2px solid #3882F7;
}

.hero-left-side {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}

.hero-right-side {
    width: 500px;
    flex: 0 1 auto;
    height: auto;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

button {
    background-color: #3882F7;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    padding: 7px 30px;
    border-radius: 8px;
    cursor: pointer;
    align-self: flex-end;
}

.info-section {
    background-color: white;
    padding: 50px 150px 100px;
}

.info-section-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 40px;
}

.info-container {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    justify-content: center;
}

.info-box-container {
    width: 175px;
}

.info-box-text {
    text-align: center;
}

.info-box {
    border: 4px solid #3882F7;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 175px;
    display: flex;
}

.info-box img {
    width: 100%;
    height: 100%;
    object-position: left;
    border-radius: 5px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 100px 200px;
    display: flex;
    flex-flow: row wrap;
    gap: 75px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 auto;
    width: 300px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 200;
}

.quote-source {
    text-align: right;
    font-weight: 600;
}

.signup-section {
    padding: 50px 200px;
}

.signup-container {
    display: flex;
    justify-content: center;
}

.signup-container img {
    flex: 1;
    width: 700px;
    height: auto;
}



/* This was part of the assignment, 
but I modified the design after completing 
the assignment

.signup-container {
    background-color: #3882F7;
    padding: 50px 50px;
    border-radius: 7px;
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
}


.signup-main-text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px
}

.signup-sec-text {
    font-size: 18px;
    color: rgb(221, 219, 219)
}

.signup-section button {
    border: 2px solid white;
    flex-grow: 0;
    align-self: flex-end;
}
*/



